<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>SideMenu</title>
    <link rel="stylesheet" href="/styles/templates.css">
</head>
<body>
    <div class="sideMenu">
        <a href="/index">Home page</a>
        <a href="/findPets">Find a dog/cat</a>
        <a href="/dogCare">Dog care</a>
        <a href="/catCare">Cat care</a>
        <a href="/login">Have a pet to giveaway?</a>
        <a href="/contactUs">Contact us</a>
        <a href="/createAnAccount">Create an account</a>
        <a href="/logout">Logout</a>
    </div>
</body>
</html>