<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/page.css">
    <link rel="stylesheet" href="/styles/default.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
</head>
<body>
<%- include("partials/header.ejs")%>
<div class="container">
    <%- include("partials/sidemenu.ejs") %>
    <div class="content">
        <div class="contactUs">
            <h1>Let's get in touch!</h1>
            <p>We value your feedback and are here to assist you. If you have any questions, concerns, or simply want to get in touch, please feel free to contact us. Your satisfaction and the well-being of our furry friends are our top priorities.
            </p>
        </div>
    </div>
</div>
<%- include("partials/footer.ejs")%>
</body>
</html>