<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>createAnAccount</title>
    <link rel="stylesheet" href="/styles/page.css">
    <link rel="stylesheet" href="/styles/default.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
</head>
<body>
<%- include("partials/header.ejs")%>
<div class="container">
    <%- include("partials/sidemenu.ejs") %>
    <div class="content">
        <div class="createAnAccount">
            <h1>Let's get started!</h1>
            <form action="/createAnAccount" method="post" name="createAccountForm" onsubmit="return validateCreation(event)">
                <p>Enter your username and password to create an account</p>
                <label for="username">Username: </label>
                <input type="text" id="username" name="username" placeholder="letters and digits" required>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="letters and digits (4 digits minimum)" required>
                <button type="submit">Create account</button>
            </form>
            <% if (typeof message !== "undefined") { %>
                <p><%= message %></p>
            <% } %>
        </div>
    </div>
</div>
<script src="/scripts/script.js"></script>
<%- include("partials/footer.ejs")%>
</body>
</html>