<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/page.css">
    <link rel="stylesheet" href="/styles/default.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
</head>
<body>
<%- include("partials/header.ejs")%>
<div class="container">
    <%- include("partials/sidemenu.ejs") %>
    <div class="content">
        <div class="disclaimer">
            <h1>Important</h1>
            <p>We value your privacy and the integrity of your information. We promise that your personal details and any information provided will never be sold or misused in any manner. Your trust is important to us, and we are committed to ensuring the confidentiality and security of all data shared with us.
                <br>
                Please note that while we strive to provide accurate and up-to-date information, we rely on pet owners to provide correct details about their pets. We cannot be held responsible for any inaccuracies in the information posted by pet owners on our platform. We encourage all users to verify the details independently before making any decisions based on the information found here.
                <br>
                Thank you for choosing our platform. Your safety and trust are our top priorities.
            </p>
        </div>
    </div>
</div>
<%- include("partials/footer.ejs")%>
</body>
</html>