<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/page.css">
    <link rel="stylesheet" href="/styles/default.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
</head>
<body>
<%- include("partials/header.ejs")%>
<div class="container">
    <%- include("partials/sidemenu.ejs") %>
    <% if (typeof message !== 'undefined') { %>
        <p><%= message %></p>
    <% } %>
    <div class="content">
        <div class="home">
            <h1>Welcome to TinPets!</h1>
            <p>TinPets is your go-to platform for finding your new furry friend. Our mission is to connect loving families with pets in need of a forever home. Explore our website to discover a variety of cats and dogs available for adoption. Whether you're looking for a playful pup or a cuddly cat, we're here to help you find your perfect match.
            </p>
        </div>
    </div>
</div>
<%- include("partials/footer.ejs")%>
</body>
</html>