<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>loginPage</title>
    <link rel="stylesheet" href="/styles/page.css">
    <link rel="stylesheet" href="/styles/default.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
</head>
<body>
<%- include("partials/header.ejs")%>
<div class="container">
    <%- include("partials/sidemenu.ejs") %>
    <div class="content">
        <div class="login">
            <h1>Let's get started!</h1>
            <form action="/login" method="post">
                <label for="username">Username: </label>
                <input type="text" id="username" name="username"  required>
                <label for="password" required>Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Login</button>
            </form>
            <% if (typeof message !== 'undefined') { %>
                <p><%= message %></p>
            <% } %>
        </div>
        </div>
    </div>
</div>
<%- include("partials/footer.ejs")%>
</body>
</html>