<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>logout</title>
    <link rel="stylesheet" href="/styles/page.css">
    <link rel="stylesheet" href="/styles/default.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
    <script>
        setTimeout(function() {
            window.location.href = "/";
        }, 3000); 
    </script>
</head>
<body>
<%- include("partials/header.ejs")%>
<div class="container">
    <%- include("partials/sidemenu.ejs") %>
    <div class="content">
        <div class="logout">
            <h1>Logout Successful</h1>
            <p>You will be redirected back to the homepage in 3 seconds.</p>
        </div>
        </div>
    </div>
</div>
<%- include("partials/footer.ejs")%>
</body>
</html>