.content h1{
    color:brown;
    margin: 0;
}
p.intro{
    font-size:1.5em;
    margin-top: 10px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 10px;
}
label{
    margin: 10px;
}
button{
    display:flex;
    flex-direction: column;
    width: 25%;
    margin:5px;
    background-color: #fbeed9;
    border: 2px solid rgb(158, 93, 93);
    border-radius: 15px;
    font-family: 'Lexend', sans-serif;
    align-items: center;
}
select{
    font-family: 'Lexend', sans-serif;
    color:rgb(88, 88, 88);
    text-align: center;
    margin: 5px;
    align-items: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.button:hover {
    opacity: 1
}